In [96]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [97]:
df=pd.read_csv('AllCities.csv')

In [98]:
df.head()

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

In [99]:
df.drop('seller_type', axis=1,inplace=True)

In [100]:
df.head()

,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad

In [101]:
X = df[['bedroom', 'layout_type', 'property_type', 'locality', 'area', 'furnish_type', 'bathroom', 'city']]

In [102]:
X.head()

,bedroom,layout_type,property_type,locality,area,furnish_type,bathroom,city
0,2.0,BHK,Apartment,Bodakdev,1450.0,Furnished,2.0,Ahmedabad
1,1.0,RK,Studio Apartment,CG Road,210.0,Semi-Furnished,1.0,Ahmedabad
2,3.0,BHK,Apartment,Jodhpur,1900.0,Unfurnished,3.0,Ahmedabad
3,2.0,BHK,Independent House,Sanand,1285.0,Semi-Furnished,2.0,Ahmedabad
4,2.0,BHK,Independent House,Navrangpura,1600.0,Furnished,2.0,Ahmedabad

In [103]:
Y=df['price']

In [104]:
Y.head()

0    20000.0
1     7350.0
2    22000.0
3    13000.0
4    18000.0
Name: price, dtype: float64

In [105]:
# feature scaling
from sklearn.preprocessing import StandardScaler

In [106]:
scaler = StandardScaler()
df[['bedroom', 'area', 'bathroom']]= scaler.fit_transform( df[['bedroom', 'area', 'bathroom']])

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193011 entries, 0 to 193010
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   bedroom        193011 non-null  float64
 1   layout_type    193011 non-null  object
 2   property_type  193011 non-null  object
 3   locality       193011 non-null  object
 4   price          193011 non-null  float64
 5   area           193011 non-null  float64
 6   furnish_type   193011 non-null  object
 7   bathroom       193011 non-null  float64
 8   city           193011 non-null  object
dtypes: float64(4), object(5)
memory usage: 13.3+ MB

In [108]:
# Based on typical real estate data characteristics:
from sklearn.preprocessing import LabelEncoder

# Low cardinality columns
low_card_cols = ['layout_type', 'property_type', 'furnish_type', 'city']
for col in low_card_cols:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))

# High cardinality column (locality)
locality_freq = df['locality'].value_counts().to_dict()
df['locality_freq'] = df['locality'].map(locality_freq)
df = df.drop('locality', axis=1)

print("Optimal encoding applied!")

Optimal encoding applied!

In [109]:
df.tail()

,bedroom,layout_type,property_type,price,area,furnish_type,bathroom,city,locality_freq
193006,-1.130402,0,0,13250.0,-0.588858,1,-1.133803,7,367
193007,-1.130402,1,4,7000.0,-0.876291,2,-1.133803,7,557
193008,-1.130402,0,0,8500.0,-0.838924,1,-1.133803,7,534
193009,-1.130402,0,0,16500.0,-0.569696,1,-0.064059,7,1250
193010,-0.085358,0,0,12000.0,-0.445142,2,-0.064059,7,47